.milkchocolate{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  margin-right: 15px;
}
.Searchbar{
  display: block;
}
.yema-milk{
  width: 300px;
}
.milk-price{
 
}
.milk-grams{
  
}
.Order1{
  
}
.milk-picture{
  display: inline-block;
  width: 50px;
}
.yema-info{
  display: inline-block;
  width: 200px;
}
